.fullsite {
    .home-content {
        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(
                to right,
                rgba(20, 58, 88, 0.6),
                rgba(20, 58, 88, 0.6)
              ),
              url(../images/hero.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h1 {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 60px;
                color: rgb(214, 242, 255);
                margin-left: 30px;
            }
            p {
                font-family: 'Playfair Display', serif;
                font-size: 40px;
                color: rgb(237, 251, 255);
                font-style: italic;
                margin-left: 30px;
            }
        }
        .mission {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 500px;
            background-color:rgb(215, 236, 255);
            h1 {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 60px;
                color: black;
            }
            p {
                font-family: 'Playfair Display', serif;
                font-size: 30px;
                color: black;
                font-style: italic;
            }
        }
    }
}